<header>
  <nav class="navbar navbar-expand-md navbar-dark bg-success">
    <a class="navbar-brand" href="/urls">TinyApp</a>
    <button
      class="navbar-toggler"
      type="button"
      data-toggle="collapse"
      data-target="#navbarNavAltMarkup"
      aria-controls="navbarNavAltMarkup"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-item nav-link" href="/urls">My URLs</a>
        <a class="nav-item nav-link" href="/urls/new">Create New URL</a>
      </div>
    </div>

    <% if(username) { %>
    <div class="form-inline">
      <form action="/logout" method="POST" class="form-inline">
        <label for="username" class="navbar-brand"
          >Signed In:
          <span style="text-decoration: underline; padding-left: 5px"
            ><%= username %></span
          ></label
        >
        <button
          class="btn btn-outline-secondary"
          name="login"
          type="submit"
          style="margin-left: 16px"
        >
          Logout
        </button>
      </form>
    </div>
    <% } else { %>

    <div class="form-inline">
      <form action="/login" method="POST" class="form-inline">
        <input
          class="form-control"
          type="text"
          name="username"
          placeholder="Username"
          style="outline: none; border-radius: 4px"
        />
        <button
          class="btn btn-outline-secondary"
          name="login"
          type="submit"
          style="margin-left: 16px"
        >
          Login
        </button>
      </form>
    </div>
    <% } %>
  </nav>
</header>
